@{
    ViewBag.Title = "Index";
    Layout = null;
}
<p>
    <span>Release/1.0</span>
    <span>房间号：</span>
    <span>房间号：</span>
    <input type="text" id="groupId" />
    <span>用户名：</span>
    <input type="text" id="userName" />
    <button id="joinRoom">加入聊天室</button>
</p>
<p>
    <span>消息：</span>
    <input type="text" id="message" />
    <button id="send">发送</button>
</p>
<div>
    <ul id="contentMsg"></ul>
</div>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {

        var chat = $.connection.chatHub;
        chat.hubName = 'chatHub';
        chat.connection.start();

        chat.client.addSomeMessage = function (groupId, detail, userName) {
            console.info("广播消息：" + detail);
            $("#contentMsg").append("<li>" + userName + ": " + detail + "</li>");
        };

        chat.client.addUserIn = function (groupId, userName) {
            $("#contentMsg").append("<li>" + userName + "进入该聊天室！</li>");
        };
        $.connection.hub.logging = true;//启动signalr状态功能

        //加入聊天室 
        $("#joinRoom").click(function () {
            var groupId = $("#groupId").val();
            var userName = $("#userName").val();
            chat.server.addToRoom(groupId, userName);
        });
        //发送消息
        $("#send").click(function () {
            var detail = $("#message").val();
            var groupId = $("#groupId").val();
            var userName = $("#userName").val();
            chat.server.send(groupId, detail, userName);
        });

    });
</script>